<table>
<tr class="bordered"><td> Роль:</td><td> <%= select("user", "role_id", Role.all.collect{|c|[c.name, c.id]} )  %></td>
<tr class="bordered"><td> Организация:</td><td> <%= select("user", "organization_id", Organization.all.collect{|c|[c.name, c.id]} )  %></td>
<tr class="bordered"><td> ФИО:</td><td> <%= text_field :user, :fio %></td>
<tr class="bordered"><td> Должность:</td><td> <%= text_field :user, :job %></td>
<tr class="bordered"><td> Кабинет:</td><td> <%= text_field :user, :room %></td>
<tr class="bordered"><td> Логин:</td><td> <%= text_field :user, :login %></td>
<tr class="bordered"><td> Пароль:</td><td> <%= password_field :user, :password %></td>
</table>
  <p>
    <%= submit_tag button %>
  </p>