<% for ad in @ads %> 
        <tr> 
          <% fields_for "answer_details[]", ad do |f| %>  

      <td><%= f.hidden_field :letter_detail_id %> 
      <%= f.hidden_field :answer_id %>
      <%= f.hidden_field :user_id %></td>
      <td></td>
          
      <td>
      <% if ld.allow_serial_input %>
        
        <%= f.text_field :serial, :size => 20 %> 
        <% end %> 
      </td> 
          <td><%= error_messages_for 'answer_detail', :object => ad %></td>
          <!-- part 2-->  
          <!-- здесь должен быть supplier -->    
       <td> 
       
         <%= f.text_field_with_auto_complete "supplier_name",  
            { :method => :get, :skip_style => true, :size => 20 } %>
          
             
      </td>  
      <td>   
        <%= f.text_field :received_drugs, :size => 3 %>/<%= f.text_field :identified_drugs, :size => 3  %>  
      </td>  
      <td>  
        <%= f.collection_select :tactic_id, Tactic.all, :id, :name, :include_blank => true %>  
      </td> 
      <td>  
        <%= f.text_field :details, :size => 20 %>  
        <span id="details_message<%= id %>" class="live_validation"> </span>
        <%= observe_field :details,
          :url => { :controller => :live_validations, :action => :validate_details },
          :frequency => 0.5,
          :update => 'details_message'+id.to_s,
          :with => "details"  %>
      </td> 
      
 <% end %> 
        </tr> 
    <% end %> 


