<h1>Editing answer</h1>

<% semantic_form_for(@answer) do |f| %>
  <%= f.error_messages %>
<%= render :partial => "form", :locals => { :f => f, :button => "Создать"  }  %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @answer %> |
<%= link_to 'Back', answers_path %>