<h1>Письмо от <%= @answer.organization.name if @answer.organization %> N <%= @answer.item %> <%= @answer.item_date %></h1>
<br>
Отправитель: <%= User.current_user.organization.name %>
<div style="background-color:oldlace;">
<%= render :active_scaffold => "answer_details", :constraints => { :letter_id => @answer.id, :organization_id => User.current_user.organization_id } %>
</div>	
<a href = "/upload/uploaddoc/<%= @answer.id %>">Образец формируемой печ.формы (.doc - в формате Word 2003)</a><br>
<a href = "/upload/uploadfile/<%= @answer.id %>">.docx - в формате Word 2007</a>