<h1>Роли</h1>
<%= render :partial => "index_top", :locals => {:current_user => current_user} %>
<table>
  <tr>
  <th class="first">ID</th>
  <th>Название</th>
<th>Название папки - для поиска шаблонов</th>
 <th></th>
  <th></th>
   <th></th>
  </tr>

<% @roles.each do |role| %>
  <tr class="bordered">
    <td><%= role.id %></td>
    <td><%= role.name %></td>
	<td><%= role.typename %></td>
	<td><% link_to(role) do %>
	<%= image_tag("zoom.png", :alt => "Показать детали") %>
        <% end %></td>
    <td>

	<% link_to(edit_role_path(role)) do %>
	<%= image_tag("wrench.png", :alt => "Редактировать") %>
        <% end %>
		
		</td>
    <td>
	
	<% link_to(role, :confirm => 'Are you sure?', :method => :delete) do %>
	     <%= image_tag("cross.png", :alt => "Удалить") %>
        <% end %>
		
	</td>
<% end %>
  </tr>

</table>

<br />

